# Data Converting

* Dataset might contain different types of data.Itcould be categorical,string type or numerical...Most machine learning algorithm dont perform well with categorical data.We need to convert data into neumerical data for better result

In [31]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [32]:
df =pd.read_csv("car-sales-extended-missing-data.csv")
df.head(4)

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           951 non-null    object
 1   Colour         950 non-null    object
 2   Odometer (KM)  950 non-null    float64
 3   Doors          950 non-null    float64
 4   Price          950 non-null    float64
dtypes: float64(3), object(2)
memory usage: 39.2+ KB

In [34]:
#check the data types
df.dtypes

Make              object
Colour            object
Odometer (KM)    float64
Doors            float64
Price            float64
dtype: object

In [35]:
X = df.drop("Price",axis = 1)
y = df["Price"]

In [36]:
X

       Make Colour  Odometer (KM)  Doors
0     Honda  White        35431.0    4.0
1       BMW   Blue       192714.0    5.0
2     Honda  White        84714.0    4.0
3    Toyota  White       154365.0    4.0
4    Nissan   Blue       181577.0    3.0
..      ...    ...            ...    ...
995  Toyota  Black        35820.0    4.0
996     NaN  White       155144.0    3.0
997  Nissan   Blue        66604.0    4.0
998   Honda  White       215883.0    4.0
999  Toyota   Blue       248360.0    4.0

[1000 rows x 4 columns]

In [37]:
#This dataset have two columns with object data type.
#we need to convert this into numerical data type

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [38]:
df.dtypes

Make              object
Colour            object
Odometer (KM)    float64
Doors            float64
Price            float64
dtype: object

In [39]:
df["Doors"].value_counts()

4.0    811
5.0     75
3.0     64
Name: Doors, dtype: int64

In [40]:
#Here "Make","Color" columns are object type."Doors" columns is also in categorical form.

categorical_feature = ["Make","Colour","Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                  one_hot,
                                  categorical_feature)],
                                  remainder = "passthrough")

transformed_X = transformer.fit_transform(X)
transformed_X

ValueError: Input contains NaN

In [41]:
#lets make copy of our dataframe
df_cpy = df.copy()

In [42]:
df_cpy.dropna(axis = 0,inplace = True)
df_cpy

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
994     BMW   Blue       163322.0    3.0  31666.0
995  Toyota  Black        35820.0    4.0  32042.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[773 rows x 5 columns]

In [43]:
df_cpy.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [44]:
X = df_cpy.drop("Price",axis =1)
y = df_cpy["Price"]

In [45]:
categorical_feature = ["Make","Colour","Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                  one_hot,
                                  categorical_feature)],
                                  remainder = "passthrough")

transformed_X = transformer.fit_transform(X)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [46]:
# We can also use pandas dummies function
dummies = pd.get_dummies(df_cpy[["Make","Colour","Doors"]])
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4.0,0,1,0,0,0,0,0,0,1
1,5.0,1,0,0,0,0,1,0,0,0
2,4.0,0,1,0,0,0,0,0,0,1
3,4.0,0,0,0,1,0,0,0,0,1
4,3.0,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
994,3.0,1,0,0,0,0,1,0,0,0
995,4.0,0,0,0,1,1,0,0,0,0
997,4.0,0,0,1,0,0,1,0,0,0
998,4.0,0,1,0,0,0,0,0,0,1
999,4.0,0,0,0,1,0,1,0,0,0

In [51]:
X.head(3)

    Make Colour  Odometer (KM)  Doors
0  Honda  White        35431.0    4.0
1    BMW   Blue       192714.0    5.0
2  Honda  White        84714.0    4.0

In [54]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [55]:
X_train,X_test,y_train,y_test = train_test_split(transformed_X,y,test_size = 0.25,random_state = 1)

In [56]:
model = RandomForestClassifier()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.0

# Handling the missing Data

In [89]:
df = pd.read_csv("car-sales-extended-missing-data.csv")
df.head(3)

    Make Colour  Odometer (KM)  Doors    Price
0  Honda  White        35431.0    4.0  15323.0
1    BMW   Blue       192714.0    5.0  19943.0
2  Honda  White        84714.0    4.0  28343.0

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           951 non-null    object
 1   Colour         950 non-null    object
 2   Odometer (KM)  950 non-null    float64
 3   Doors          950 non-null    float64
 4   Price          950 non-null    float64
dtypes: float64(3), object(2)
memory usage: 39.2+ KB

In [91]:
#this dataset contain column with missing value

df.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

# Option 1:fill the missing value with Pandas

In [92]:
#fill the "Make" column

df["Make"].fillna("missing",inplace = True)

#fill the color column
df["Colour"].fillna("missing",inplace = True)

#fill the Odometer column with mean value
df["Odometer (KM)"].fillna(df["Odometer (KM)"].mean(),inplace = True)

#fill Doors column 
df["Doors"].fillna(4,inplace = True)

In [93]:
df.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [94]:
#remove rows with missing price value
df.dropna(inplace = True)

In [95]:
df.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [96]:
len(df)

950

In [97]:
X.head(3)

    Make Colour  Odometer (KM)  Doors
0  Honda  White        35431.0    4.0
1    BMW   Blue       192714.0    5.0
2  Honda  White        84714.0    4.0

In [98]:
#convert the non numerical data  to numerical

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [99]:
X = df.drop(["Price"],axis = 1)
y = df["Price"]

In [100]:
categorical_feature = ["Make","Colour","Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                   one_hot,
                                   categorical_feature)],
                                   remainder = "passthrough")

New_X = transformer.fit_transform(X)
New_X

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [102]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(New_X,y,test_size = 0.20)

In [101]:
from sklearn.linear_model import LinearRegression

In [103]:
reg_model = LinearRegression()
reg_model.fit(X_train,y_train)
reg_model.score(X_test,y_test)

0.265037342975149

# Option 2: fill the missing value with scikit learn
* SimpleImputer is a scikit-learn class which is helpful in handling the missing data in the predictive model dataset. It replaces the NaN values with a specified placeholder.
* It is implemented by the use of the SimpleImputer() method which takes the following arguments :


### missing_values : The missing_values placeholder which has to be imputed. By default is NaN
### stategy : The data which will replace the NaN values from the dataset. The strategy argument can take the values â€“ â€˜mean'(default), â€˜medianâ€™, â€˜most_frequentâ€™ and â€˜constantâ€™.
### fill_value : The constant value to be given to the NaN data using the constant strategy.

In [116]:
missing_df = pd.read_csv("car-sales-extended-missing-data.csv")
missing_df.head(3)

    Make Colour  Odometer (KM)  Doors    Price
0  Honda  White        35431.0    4.0  15323.0
1    BMW   Blue       192714.0    5.0  19943.0
2  Honda  White        84714.0    4.0  28343.0

In [117]:
missing_df.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [118]:
missing_df.dropna(subset = ["Price"],inplace = True)
missing_df.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [119]:
# Split the data 

X = missing_df.drop(["Price"],axis = 1)
y = missing_df["Price"]

In [120]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

#fill the categorical value with "missing"and numerical values with "mean"

cat_imputer = SimpleImputer(strategy = "constant",fill_value = "missing")
door_imputer = SimpleImputer(strategy = "constant",fill_value = 4)
num_imputer = SimpleImputer(strategy = "mean")

#define columns
cat_feature = ["Make","Colour"]
door_feature = ["Doors"]
num_feature = ["Odometer (KM)"]

#create an imputer
imputer = ColumnTransformer([
    ("cat_imputer",cat_imputer,cat_feature),
    ("door_imputer",door_imputer,door_feature),
    ("num_imputer",num_imputer,num_feature)
])

#transform the data
filled_X = imputer.fit_transform(X)
filled_X

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [122]:
df_filled = pd.DataFrame(filled_X,columns= ["Make","Colour","Odometer (KM)","Doors"])

In [125]:
#convert data to numerical 
from sklearn.preprocessing import OneHotEncoder

categorical_feature = ["Make","Colour","Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                  one_hot,
                                  categorical_feature)],
                                  remainder = "passthrough")

new_x = transformer.fit_transform(df_filled)